/* Trabajo FINAL PHP - Monti Bruno & Reale Aldana */

/* GLOBALES */

:root {
    /* Paleta de colores */
    --beigePrincipal: #F5F5F5; /* Fondo */
    --grisClaro: #FFFFFF; /* Para las tarjetas o cajas */
    --azulPetroleo: #2C3E50; /* Botones & Headers */
    --verdeOliva: #A3B18A; /* Hover Íconos */
    --alertasVerde: #73A580;
    --alertasRojo: #E76F51;
    --azulOscuro: #1E1E1E; /* Texto */
    /* Tipografías */
    --tipografiaPrincipal: 'Urbanist', sans-serif;
}

/* ESTANDARIZACIONES */

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--beigePrincipal);
}

h1, h2, p {
    color: var(--azulOscuro);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: var(--tipografiaPrincipal);
    height: 100vh;    
}

/* ESTILOS */

/* index.html */

.contenedor-sitio {
    display: flex;
    height: 100%;
}

.logo {
    width: 30rem;
}

h2 {
    font-weight: 400;
}

.lateral-izquierdo {
    display: flex;
    flex-direction: column;
    width: 75rem;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    margin: 10rem 0;
}
.form-login {
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: center;
    justify-content: center;
    
}

.labels, .inputs {
    color: var(--azulOscuro);
    width: 100%;      
}

.combo-label-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.labels {
    padding-top: 1.5rem;
    width: auto;
    padding-bottom: .5rem;    
}

.inputs {
    padding: 1rem;
}

.boton {
    padding: 1rem;
    background-color: var(--azulPetroleo);
    color: var(--beigePrincipal);
    margin: 3.5rem 0;
    width: 50%;
}

.form-login p {
    white-space: nowrap;
    overflow: visible;
}

.boton:hover {
    cursor: pointer;
}

.aqui {
    cursor: pointer;
    text-decoration: underline;
}

.lateral-derecho {
    width: 100%;
    background-image: url(../../final_php_login_CRUD/img/Fondo_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.footer {
    margin-bottom: 1rem;
    color: var(--azulOscuro);
}





/* Provisorio: */

.form-altaUsuario {
    display: none;
}

