/* Trabajo FINAL PHP - Monti Bruno & Reale Aldana */

/* GLOBALES */

:root {
    /* Paleta de colores */
    --beigePrincipal: #F5F5F5; /* Fondo */
    --grisClaro: #FFFFFF; /* Para las tarjetas o cajas */
    --azulPetroleo: #2C3E50; /* Botones & Headers */
    --verdeOliva: #A3B18A; /* Hover Íconos */
    --alertasVerde: #73A580;
    --alertasRojo: #E76F51;
    --azulOscuro: #1E1E1E; /* Texto */
    /* Tipografías */
    --tipografiaPrincipal: 'Urbanist', sans-serif;
    /* para transparencias (RGB): */
    --beigePrincipalRGB: 245, 245, 245;
    --azulOscuroRGB: 30, 30, 30;
}

/* ESTANDARIZACIONES */

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--beigePrincipal);
}

h1, h2, p {
    color: var(--azulOscuro);
    margin: 0;
}

.span {
    font-weight: bold;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: var(--tipografiaPrincipal);
    height: 100vh;    
}

/* ESTILOS */

/************************** index.html **************************/

.contenedor-sitio {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.logo {
    width: 30rem;
    margin: 10rem 0;
}

h2 {
    font-weight: 400;
}

.lateral-izquierdo {
    display: flex;
    flex-direction: column;
    width: 75rem;
    justify-content: flex-start;
    align-items: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: center;
    justify-content: center;
    
}

.form-altaUsuario {
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: center;
    justify-content: center;
}

.labels, .inputs {
    color: var(--azulOscuro);
    width: 100%;      
}

.combo-label-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.labels {
    padding-top: 1.5rem;
    width: auto;
    padding-bottom: .5rem;    
}

.inputs {
    padding: 1rem;
}

.boton {
    padding: 1rem;
    background-color: var(--azulPetroleo);
    color: var(--beigePrincipal);
    margin: 3.5rem 0;
    width: 50%;
    margin: 0 auto;
}

.limpiar {
    background-color: var(--alertasRojo);
}

.aceptar {
    background-color: var(--alertasVerde);
}

.form-login p {
    white-space: nowrap;
    overflow: visible;
}

.boton:hover {
    cursor: pointer;
}

.aqui {
    cursor: pointer;
    text-decoration: underline;
}

.lateral-derecho {
    width: 100%;
    background-image: url(../../final_php_login_CRUD/img/Fondo_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.footer {
    margin-bottom: 1rem;
    color: var(--azulOscuro);
}

/* Obligatoriedad de campos (asterisco): */

.obligatorio::after {
    content: " *";
    color: var(--alertasRojo);
    font-weight: bold;
}

/************************** home.php **************************/

.body {
    background-image: url(../img/Fondo_home.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100rem;
    height: 60rem;
    background-color: rgba(var(--beigePrincipalRGB), 0.96);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    position: relative;
}

.avatar-cerrar-sesion {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10; /* Con esto lo ponemos encima de todo (sin entorpecer los Flex/GRID */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconos-ACS {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;  
    cursor: pointer;
}

.nombre-usuario {
    margin-right: 1rem;
}

.avatar, .cerrar-sesion {
    width: 5rem;
}

.home-lateral-izquirdo {
    background-color: var(--beigePrincipal);
    width: 10%;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.iconos-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.iconos-home img {
    width: 10rem;
}

.iconos-home p {
    text-align: center;
}

.home-lateral-derecho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.nuevo-tramite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 80%;
}

/* Alta de Trámite: */

.nuevo-tramite h2 {
    font-size: 35px;
}

.nuevo-tramite-form, .ajustes-cuenta-usuario-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
}

.nuevo-tramite-form label,
.ajustes-cuenta-usuario-form label {
    text-align: right;
}

.nuevo-tramite-inputs {
    width: 70%;
    height: 2rem;
}


/* Consulta de trámites: */

.consultar-tramite {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.barra-superior-consultar-tramite {
    display: flex;
    flex-direction: row;
}

.barra-superior-consultar-tramite img {
    width: 5rem;
}

.tabla {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    text-align: center;
    max-width: 95%;
    margin: auto;
}

.tabla div {
    border-bottom: 1px solid var(--verdeOliva);

}

.registros {
    padding: .4rem 1rem;
}

.encabezado-tabla {
    background-color: var(--verdeOliva);
    font-weight: bold;
    text-align: center;
}

.cerrar-session {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--azulPetroleo);
    display: flex;
    width: 50rem;
    height: 15rem;
}

/* Ajustes de Cuenta de usuario */

.ajustes-cuenta-usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ajustes-cuenta-usuario-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cerrar-session h3 {
    text-align: center;
    color: var(--beigePrincipal);
}

.botonera {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 70%;
}

/* Ocultar / mostrar formularios */

.visible {
    display: flex;
}

.oculto {
    display: none;
}